@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
  color: black;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;
}

.full-heigth-grow {
  display: flex;
  flex-direction: column;
}
.main-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 0.5;
}
.main-section .img-wrapper {
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  flex-grow: 0.4;
}
.phone-img {
  flex-grow: 1;
  max-height: 93vh;
  min-width: 0.8vw;
}
.form-main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.login-form {
  background-color: #FFFFFF;
  width: 40vw;
  max-width: 50%;
  padding: 2rem 4rem;
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 5px;
}
.input-group {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.input-group:last-child {
  margin-bottom: 0;
}
